OPENNEBULA_ENDPOINT="https://opennebula.example.org/RPC2"
OPENNEBULA_USERNAME="ciber-xx"
OPENNEBULA_PASSWORD="900563a48c044074dc467feac110df09372301dbc10968c2c4491ad2398c93e6"
OPENNEBULA_INSECURE="true"

ID_RSA_PUB="ssh-rsa ..."

APP_NAME="Debian 13"

VM_MEMORY_MB="2048"
VM_DISK_SIZE_MB="8192"
VM_NETWORK_ID="xx"

IP_PUBLICA="172.20.x.x=150.x.x.x,172.20.x.x=150.x.x.x"
