locals {
  opennebula = {
    source_template = "Debian 13"
    output_template = "Debian 13 - 20260303"
  }
  ansible = {
    connect_to_public_ip = var.USE_PUBLIC_IP
  }
}

variable "USE_PUBLIC_IP" {
  type        = bool
  description = "Hay conectividad directa con el host o no"
}
